<p>This is the search page</p>
<%= form_tag({action: :index, controller: :movies}, {method: :get, :class => "form"}) do %>
  <div>
    <%= label_tag(:title, "title:") %>
    <%= text_field_tag(:title) %>
  </div>
  <div>
    <%= label_tag(:director, "Director:") %>
    <%= text_field_tag(:director) %>
  </div>
  <div>
    <%= label_tag(:duration, "Duration:") %>
    <%= select_tag(:duration, options_for_select(@select_options)) %>
  </div>
  <div>
    <%= submit_tag("Search") %>
  </div>
<% end %>